/* --- 全体のback・text --- */
body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	color: #565353;
	font-size: 100%;
}

/* --- 全体のLinkText --- */
a:link { color: #000000; }
a:visited { color: #000000; }
a:hover { color: #000000; }
a:active { color: #000000; }

/* --- container --- */
#container {
	width: 780px; /* ページの幅 */
	margin: 0 auto; /* センタリング */
	background-color: #fbff8e;
}

/* --- header --- */
#header {
	text-align: left;
	padding: 5px 5px 5px 15px;
	background-color: #ffe080;
	height: 25px;
	font-size: 120%
}

/* --- main-contents --- */
#main-contents {
	background-color: #fbff8e;
	padding-bottom: 0px;
}

/* --- class:errorMessages --- */
ul {
  padding: 0;
  position: relative;
}

ul li {
  color: #f70e0e;
  border-left: solid 6px #f70e0e;/*左側の線*/
  background: #ffcece;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
 	line-height: 1.5;
  	padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
}

/* --- class:label --- */
.label {
	display: inline-block;
	width: 10em;
}

/* --- form-box --- */
.form-box {
	width: 450px;
    height: auto;
	padding: 0px 0px 20px 30px;
    margin: 2em 10em 2em 10em;
    color: #565656;
    background: #fff0c1;
    box-shadow: 0px 0px 0px 10px #fff0c1;
    border: dashed 2px #ffe080;
    border-radius: 8px;
}

.caution {
	font-size: 80%;
	font-weight: bold;
}

/* --- footer --- */
#footer {
	background-color: #cccccc;
	text-align: center;
}
