/* --- 全体のback・text --- */
body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	color: #565353;
	font-size: 100%;
}

/* --- 全体のLinkText --- */
a:link { color: #000000; }
a:visited { color: #000000; }
a:hover { color: #000000; }
a:active { color: #000000; }

/* --- container --- */
#container {
	width: 780px; /* ページの幅 */
	margin: 0 auto; /* センタリング */
	background-color: #fbff8e;
}

/* --- header --- */
.menu {
	text-align: left;
	float: left;
	font-size: 120%
}

.logout {
	text-align: right;
	padding: 0px 5px;
	font-size: 80%;
}

#header {
	padding: 5px 5px 5px 15px;
	background-color: #ffe080;
	height: 25px;
}


/* --- main-contents --- */
#main-contents {
	background-color: #fbff8e;
	padding-bottom: 0px;
}

/* --- class:errorMessages --- */
ul {
  padding: 0;
  position: relative;
}

ul li {
  color: #f70e0e;
  border-left: solid 6px #f70e0e;/*左側の線*/
  background: #ffcece;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
 	line-height: 1.5;
  	padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
}

/* --- class:category --- */
.category {
	position: relative;
	width: 450px;
    height: 100px;
	margin: 1em 2em 0;
	padding: 1em 1em 0.5em;
	border: solid 4px #ffe080;
	background: #fff6a5;
	border-radius: 8px;
}

.category .category-box {
	position: absolute;
	display: inline-block;
	top: -13px;
	left: 10px;
	padding: 0 9px;
	background: #ffe080;
	border-radius: 8px;
	line-height: inherit
	font-size: 19px;
	color: #ffffff;
	font-weight: bold;
}
.category p {
	margin: 0;
	padding: 5px 10px 0px 10px;
}

/* --- class:word --- */
.word {
	display: inline-block;
	width: 7em;
	font-weight: bold;
	color: #F4A460;
}

/* --- class:upBoard --- */
.upBoard {
	width: 700px;
    height: auto;
	margin: 1em 2em ;
	background: #fff7b5;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.upBoard .title {
	font-size: 1.2em;
	background: #ffe080;
	padding: 5px 8px;
	text-align: left;
	font-weight: bold;
	letter-spacing: 0.05em;
}
.upBoard p {
	padding: 15px 20px;
	margin: 0;
}

.upBoard .text {
	padding: 1px 20px 5px 20px;
	margin: 0;
}

/* --- class:comments --- */
.comments {
	width: 500px;
    height: auto;
    margin: 1.5em 10em ;
    padding: 0em 2em 0.5em;
	background-color:#fff8c1;
	border:3px solid #ffe080;
	border-radius:25px;
	position:relative;
}

.comments:before {
	border:20px solid transparent;
	border-bottom-color:#ffe080;
	border-top-width:0;
	top:-20px;
	content:"";
	display:block;
	left:30px;
	position:absolute;
	width:0;
	z-index:1;
}

.comments:after {
	border:20px solid transparent;
	border-bottom-color:#ffe080;
	border-top-width:0;
	top:-20px;
	content:"";
	display:block;
	left:30px;
	position:absolute;
	width:0;
}

/* --- class:upcomments --- */
.upcomments {
	width: 650px;
    height: auto;
    margin: 1.5em 22em;
}

/* --- footer --- */
#footer {
	background-color: #cccccc;
	text-align: center;
}

