body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	color: #565353;
	font-size: 100%;
}

/* --- 全体のLinkText --- */
a:link { color: #000000; }
a:visited { color: #000000; }
a:hover { color: #000000; }
a:active { color: #000000; }

/* --- container --- */
#container {
	width: 780px; /* ページの幅 */
	margin: 0 auto; /* センタリング */
	background-color: #fbff8e;
}

/* --- header --- */
#header {
	text-align: left;
	padding: 5px 5px 5px 15px;
	background-color: #ffe080;
	height: 25px;
	font-size: 120%
}

/* --- main-contents --- */
#main-contents {
	background-color: #fbff8e;
	padding-bottom: 0px;
}

/* --- class:errorMessages --- */
ul {
  padding: 0;
  position: relative;
}

ul li {
  color: #f70e0e;
  border-left: solid 6px #f70e0e;/*左側の線*/
  background: #ffcece;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
 	line-height: 1.5;
  	padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
}

/* --- form-box --- */
.form-box {
	width: 680px;
    height: auto;
	padding: 0px 0px 20px 30px;
    margin: 1.5em auto;
    color: #565656;
    background: #fff0c1;
    box-shadow: 0px 0px 0px 10px #fff0c1;
    border: dashed 2px #ffe080;
    border-radius: 8px;
}

/* --- table --- */
.table table {
	width: 650px;
    height: auto;
    margin: 10px 0px;
	border: 1px #000000;
	border-collapse: collapse;
}

.table th {
	border: 1px #000000 solid;
	padding: 0 0px;
	border-top-style:none;
    border-left-style:none;
    border-right-style:none;
	text-align: center;
	vertical-align: middle;
}

.table td {
	border: 1px #000000 solid;
	padding: 5px 0;
	border-top-style:none;
    border-left-style:none;
    border-right-style:none;
	text-align: center;
	vertical-align: middle;
}

/* --- footer --- */
#footer{
	background-color: #cccccc;
	text-align: center;
}
